<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Liste des emails</div>
      <div class="card-body">
        <table class="table table-hover table-striped table-bordered">
          <thead>
          <th>email</th>
          <th>sate</th>
          <th>tel</th>
          <th>Action</th>
          </thead>
          <tbody>

          </tbody>
        </table>


      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Detail de mail <strong></strong></div>
      <div class="card-body">
        <table class="table table-hover table-striped table-bordered">
          <thead>
          <th>email</th>
          <th>state</th>
          <th>tel</th>
          </thead>
          <tbody>

          </tbody>
        </table>


      </div>
    </div>

  </div>
</div>

