<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Liste des commandes</div>
      <div class="card-body">
        <table class="table table-hover table-striped table-bordered">
          <thead>
          <th>Ref</th>
          <th>Total</th>
          <th>Total Paye</th>
          <th>Action</th>
          </thead>
          <tbody>

          </tbody>
        </table>


      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Detail de la Commande <strong></strong></div>
      <div class="card-body">
        <table class="table table-hover table-striped table-bordered">
          <thead>
          <th>Produit</th>
          <th>Prix</th>
          <th>Qte</th>
          </thead>
          <tbody>

          </tbody>
        </table>


      </div>
    </div>

  </div>
</div>

