
<div class="row">
  <div class="col-md-6 bordre">
   <h4>Test log in</h4>
  </div>
  <div class="col-md-6">
    <div class="container">
      <form #loginForm="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger">{{msg}}</small>
        <h1 style="text-align: center">LOGIN</h1>
        <label><b>Nom or mail</b></label>
        <input type="email" placeholder="user or mail" name="email" [(ngModel)]="user.email">
        <label><b>Mot de passe</b></label>
        <input type="password" placeholder="password" name="password" [(ngModel)]="user.password">
        <input type="submit"  value="Login">
        <div class="row">
          <div class="col-sm">
            <div class="custom-checkbox"><input type="checkbox">Remember me</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <a href="#" ><p>Forget password</p></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


