<div class="dash-cards">
  <div class="card-single">
    <div class="card-body">
      <span class="ti-briefcase"></span>
      <div class="size">
        <h5>UniNfz</h5>
        <h4>0000</h4>
      </div>
    </div>
    <div class="card-footer size">
      <a>View all</a>
    </div>
  </div>

  <div class="card-single">
    <div class="card-body">
      <span class="ti-reload"></span>
      <div class="size">
        <h5>AgraTech</h5>
        <h4>0000</h4>
      </div>
    </div>
    <div class="card-footer">
      <div class="test size">
        <a>View all</a>
      </div>
    </div>
  </div>

  <div class="card-single">
    <div class="card-body">
      <span class="ti-check-box"></span>
      <div>
        <h5>Ifrozet-IT </h5>
        <h4>0000</h4>
      </div>
    </div>
    <div class="card-footer">
      <a href="">View all</a>
    </div>
  </div>
</div>


<section class="recent">
  <div class="activity-grid">
    <div class="activity-card">
      <h3 class="h-3">Our activity</h3>
      <div class="table-responsive">
        <table>
          <thead>
          <tr>
            <th>UniNfz</th>
            <th>AgraTech</th>
            <th>Ifrozet-IT </th>
            <th>Lieu</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>



