<br/>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <select class="form-control multiple-task" size="8">
        <optgroup label="Alaskan/Hawaiian Time Zone">
          <option value="AK">Alaska</option>
          <option value="HI">Hawaii</option>
        </optgroup>
        <optgroup label="Pacific Time Zone">
          <option value="CA">California</option>
          <option value="NV">Nevada</option>
          <option value="OR">Oregon</option>
          <option value="WA">Washington</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>
