<div class="body">
  <h5 style="color: red;font-size: 17px"><strong>UniNFZ: </strong> Client de Ifrozet SARL </h5>

  <ul>
    <li>
      <p>
        <Strong><a routerLink="/menu/migration" routerLinkActive="active">
          Insert new emails:</a></Strong>from migration
      </p>
    </li>
    <li>
      <p>
        <Strong><a routerLink="/menu/chek-mail" routerLinkActive="active">
          Check Double:</a></Strong>
      </p>
    </li>
    <li>
      <p>
        <Strong><a routerLink="/menu/modify-mail" routerLinkActive="active">
          Modification email:</a></Strong>
      </p>
    </li>
    <li>
      <p>
        <Strong><a routerLink="/menu/detail" routerLinkActive="active">
          Details emails:</a></Strong>
      </p>
    </li>
    <li>
      <p>
        <Strong><a routerLink="/menu/**" routerLinkActive="active">
          Modification Status more emails :</a></Strong>
      </p>
    </li>
  </ul>
</div>
