<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p><strong> Ifrozet Sarl :</strong> est une société  de Business Intelligence Service.
        Nous mettons à la disposition de nos clients notre expertise et savoir-faire, dans l’accompagnement et la mise en œuvre de solutions.
        Nos collaborateurs sont des spécialistes dans diverses technologies. <br>
        La qualité de service étant notre priorité. <br><br>

        Nous sommes une entreprise à taille humaine. La synergie de l'ensemble, l'humain, le respect,
        l’engagement et la passion sont au cœur de nos valeurs. <br>
        L'engagement à respecter ces valeurs fondamentales garantit notre réussite de demain.
      </p><br><br>
      <a routerLink="/notFounded" routerLinkActive="active"><h3>Rendre la meilleure solution POSSIBLE  </h3></a><br>
      <img src="../../../assets/image/rendre.png" alt=""><br><br>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <br>
       <p> Nos experts sont à votre disposition pour vous assister durablement dans l'élaboration de vos projets
        et assurer leur réussite en toute transparence et confiance.
        <br>
        Chaque nouvelle mission offre à nos collaborateurs l'opportunité de vous offrir notre savoir faire et des prestations d'excellences.
        <br><br>
        La réussite de vos projets sera notre priorité et nous sommes à votre écoute pour la remplir pleinement.
      </p><br><br>
      <a routerLink="/notFounded" routerLinkActive="active"><h3>Réduction des coûts </h3></a><br>
      <img src="../../../assets/image/reduction.png" alt=""><br><br>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p>

        Grâce à l’expertise et la parfaite connaissance des solutions informatiques et technologiques,
        nos consultants vous permettent de réduire efficacement les coûts de vos projets tout en assurant la qualité de service attendu.
        <br>
        Nous mettons à votre disposition notre savoir-faire pour vous aider à améliorer vos rentabilités et à prospérer.
        <br>
        Notre volonté est de développer une relation de confiance durable et pérenne avec  nos clients. <br>
      </p><br><br>
      <a  routerLink="/notFounded" routerLinkActive="active"><h3>Réactivité, Disponibilité, Proximité </h3></a><br>
        <img src="../../../assets/image/disponibilite.png" alt=""><br><br>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<!-- /.container -->
<nav class="navbar navbar-inverse col-sm col-md col-lg col-xl col-"
     style="color: #ffffff;background-color: hsla(70, 6%, 25%, .75);
     ;border: none;border-radius: 0px;"
    >
  <div class="container-fluid">
    <div class="navbar-footer">
    </div>
    <div class="navbar-footer">
      <h1><a class="ifrozet" href="#">Ifrozet Sarl</a></h1>
      <h4><a class="contacts"  routerLink="/home" routerLinkActive="active">Home</a></h4>
      <h4><a class="contacts" href="#">A Propos De Nous</a></h4>
      <h4><a class="contacts" href="#">Nos Services</a></h4>
      <h4><a class="contacts" href="#">Nous Contacter</a></h4>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="login">
        <a  routerLink="" routerLinkActive="active">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="login">
        <a  routerLink="" routerLinkActive="active">
          <i class="fab fa-whatsapp"></i>
        </a>
      </li>
      <li class="login">
        <a  routerLink="" routerLinkActive="active">
          <i class="fab fa-facebook-messenger"></i>
        </a>
      </li>
      <li class="login">
        <a  routerLink="" routerLinkActive="active">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-inverse col-sm col-md col-lg col-xl "
     style="color: #ffffff;background-color: hsla(40, 3%, 10%, .75);
     ;border: none;margin-top: -20px;border-radius: 0px;
">
  <div class="container-fluid">
    <div class="navbar-header nav-bar-left">
      copy
    </div>
    <div class="navbar-header">
      copy
    </div>
    <ul class="nav navbar-nav navbar-right">
      selement un test
    </ul>
  </div>
</nav>
